@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro';
    height: 100%;
    width: 100%;
    background-color: #131313;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    body 
    #sendmadar, select {
        width: 109%;
        height: 50px;
        display: inline-block;
        border: 1px solid #131313;
        border-radius: 4px;
        box-sizing: border-box;
        position: absolute;
        bottom: -9.1%;
        left: 1px;
        z-index: 100;
    }
    }


#serverMenu {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #262626;
    height: 210px;
    width: 500px;
    border-radius: 0.45rem;
    left: 450px;
    top: 200px;
}

#succes {
    color: #62db68;
    background-color: #183619;
    height: 20px;
    width: 400px;
    border-radius: 00.45rem;
    position: absolute;
    bottom: 60px;
    left: 10px;
    display: none;

}    

#create {
    color: ghostwhite;
    background-color: #045388;
    border-radius: 00.45rem;
    font-size: 25px;
    border: 1px solid #262626;
}

#cancel {
    color: crimson;
    background-color: #262626;
    text-decoration: underline;
    border-radius: 00.45rem;
    font-size: 30px;
    border: 1px solid #262626;
}

#serverMenu input {
    color: ghostwhite;
    border-radius: 0.45rem;
    width: 150px;
    text-align: center;
    border: 1px solid #262626;
}

#serverMenu h1{
    color: ghostwhite;;
}

.sg-boxsend input {
    width: 500px;
    height: 30px;
    background-color: rgb(65, 65, 65);
    color: ghostwhite;
}

#serverDelater {
    display: none;
    color: white;
    position: absolute;
    background-color: red;
    border: 1px solid #262626;
    top: 20px;
    right: 9px;
    width: 106px;
    height: 50px;
    border-radius: 0.45rem;
}

#serverCreate {
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #262626;
    font-size: 40px;
    color: ghostwhite;
    border-radius: 70px;
    width: 54px;
    height: 54px;
    border: 1px solid #242424;
}

#emoji_pepo_know {
    height: 50px;
    width: 50px;
}

#username {
    background-color: #242424;
    color: ghostwhite;
    font-size: 25px;
    display: inline-block;
    border-radius: 0.25rem;
    position: absolute;
    z-index:  100;
}

#cont {
        display: flex;
}    
#pfp {
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #282828;
    z-index: 1;
    margin-right: 100px;
}
#msg {
    box-shadow: 2px 2px 51px black;
    border: 1px solid #262626;
    background-color: #262626;
    position: absolute;
    border-radius: 0.25rem;
    width: 90%;
    height: 50px;
    left: 49px;
    color: ghostwhite;
    bottom:  10px;
    display: flex;
    z-index: 2;
}

#message-btn {
    content: "";
    width: 100%;
    background-color: #131313;
    color: ghostwhite;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
    bottom: -1%;
    left: 1px;
}
  
input[type=button]:hover {
    background-color: #45a049;
}

.BigTitle {
    text-align: center;
}
ul {
    list-style-type: none;
}

.receive {
    font-size: 20px;
    height: 50px;
    color: ghostwhite;
    position: absolute;
    width: 60%;
    left: 60px;
    margin-left: 40px;
    margin-top: 5px;
}    
.sent {
    font-size: 20px;
    height: 50px;
    position: absolute;
    color: ghostwhite;
    width: 60%;
    left: 60px;
    margin-left: 40px;
    margin-top: 5px;
}    

#verify-code {
    position: absolute;
    top: 300px;
    left: 550px;
    width: 500px;
    height: 50px;
    border-radius: 0.45rem;
    background-color: #282828;
    border: 1px solid #262626;
    text-align: center;
    color: ghostwhite;
    font-size: 25px;
    box-shadow: 2px 2px 15px black;
}    
#keyText {
    position: absolute;
    top: 230px;
    left: 678px;
    text-align: center;
    color: ghostwhite;
    font-size: 25px;
}    
#verify-btn {
    position: absolute;
    top: 400px;
    left: 740px;
    font-size: 40px;
    height: 50px;
    text-align: center;
    color: ghostwhite;
    font-size: 25px;
    background-color: #0979c3;
    border-radius: 0.45rem;
    border: 1px solid #262626;
    box-shadow: 2px 2px 15px black;
}    
sub {
    color: #5a5a5a;
    margin-top: 4px;
}

#secret {
    color: ghostwhite;
    background-color: #242424;
    position: center;
    text-align: center;
    height: 300px;
    width: 250px;
    border-radius: 0.45rem;
    margin-top: -300px;
    display: none;
}
#secret button {
    border: none;
    margin-top: 30px;
    height: 60px;
    width: 100px;
    border-radius: 0.50rem;
}
#play {
    background-color: lime;
}